PORT=3000

DB_HOST=host_do_servidor
DB_USER=usuario_administrador
DB_PASS=senha_do_banco
DB_PORT=porta_do_banco
DB_NAME=nome_do_servidor

ENCRYPTION_KEY=sua_key_muito_segura

JWT_SECRET=sua_key_muito_segura
